# Lebai gripper USB-RS485 adapter (QinHeng CH34x "USB Single Serial")
# VID:PID = 1a86:55d3, S/N = 5ACC051540
#
# 安裝 | Install:
#   sudo cp udev/99-modbus_gripper_usb.rules /etc/udev/rules.d/
#   sudo udevadm control --reload-rules && sudo udevadm trigger
# 或用腳本 | or use the script: sudo ./scripts/install_udev.sh
SUBSYSTEM=="tty", KERNEL=="ttyACM*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5ACC051540", MODE:="0666", GROUP:="dialout", SYMLINK+="modbus-gripper"
